.ele-box{
   display: flex;
   justify-content: center;
   padding: 20px 0;
   margin-bottom: 20px;
   border: 1px solid #cfcfcf;
   border-radius: 4px;
}
.ele{
    display: block;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    text-align: center;
    line-height: 150px;
    color: #ffffff;
    background-color:#E87DA1; 
    background-image: url(https://tuimeizi.cn/random?w=150&h=150&t=hover);
    background-repeat: no-repeat;
}

/* 2D */
.transform_2d_translate:hover{
    transform: translate(50px,20px);
    -ms-transform: translate(50px,20px);		/* IE 9 */
    -webkit-transform: translate(50px,20px);	/* Safari and Chrome */
    -o-transform: translate(50px,20px);		/* Opera */
    -moz-transform: translate(50px,20px);		/* Firefox */
}
.transform_2d_rotate:hover{
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);		/* IE 9 */
    -webkit-transform: rotate(30deg);	/* Safari and Chrome */
    -o-transform: rotate(30deg);		/* Opera */
    -moz-transform: rotate(30deg);		/* Firefox */
}
.transform_2d_scale:hover{
    transform: scale(2,0.5);
    -ms-transform: scale(2,0.5);	/* IE 9 */
    -webkit-transform: scale(2,0.5);	/* Safari 和 Chrome */
    -o-transform: scale(2,0.5);	/* Opera */
    -moz-transform: scale(2,0.5);	/* Firefox */
}
.transform_2d_skew:hover{
    transform: skew(30deg,20deg);
    -ms-transform: skew(30deg,20deg);	/* IE 9 */
    -webkit-transform: skew(30deg,20deg);	/* Safari and Chrome */
    -o-transform: skew(30deg,20deg);	/* Opera */
    -moz-transform: skew(30deg,20deg);	/* Firefox */
}
.transform_2d_matrix:hover{
    transform:matrix(0.866,0.5,-0.5,0.866,0,0);
    -ms-transform:matrix(0.866,0.5,-0.5,0.866,0,0);		/* IE 9 */
    -moz-transform:matrix(0.866,0.5,-0.5,0.866,0,0);	/* Firefox */
    -webkit-transform:matrix(0.866,0.5,-0.5,0.866,0,0);	/* Safari and Chrome */
    -o-transform:matrix(0.866,0.5,-0.5,0.866,0,0);		/* Opera */
}

/* 3D */
.transform_3d_translate3d:hover{
    transform: translate3d(50px,20px,40px);
    -webkit-transform:  translate3d(50px,20px,40px);	/* Safari 和 Chrome */
    -moz-transform:  translate3d(50px,20px,40px);	    /* Firefox */
}
.transform_3d_rotate3d:hover{
    transform: rotate3d(1,1,1,60deg);
    -webkit-transform: rotate3d(1,1,1,60deg);	/* Safari 和 Chrome */
    -moz-transform: rotate3d(1,1,1,60deg);	    /* Firefox */
}
.transform_3d_rotateX:hover{
    transform: rotateX(60deg);          /* 相当于rotate3d(1, 0, 0, 60deg)  */
    -webkit-transform: rotateX(60deg);	/* Safari 和 Chrome */
    -moz-transform: rotateX(60deg);	    /* Firefox */
}
.transform_3d_scale3d:hover{
    transform: scale3d(2, 0.8, 0.2);
    -webkit-transform:  scale3d(2, 0.8, 0.2);	/* Safari 和 Chrome */
    -moz-transform:  scale3d(2, 0.8, 0.2);	    /* Firefox */
}

/* transition */
.transition_1 {
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: #ffffff;
    background-color: #E87DA1;
    /*transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.5s;*/
    transition: all 1s ease 0.5s;
    -moz-transition: all 1s ease 0.5s;      /* Firefox 4 */
    -webkit-transition: all 1s ease 0.5s;   /* Safari 和 Chrome */
    -o-transition: all 1s ease 0.5s;        /* Opera */
}
.transition_1:hover {
    width: 300px;
    height: 300px;
    line-height: 300px;
    background-color: gold;
}

#transition-css-btn,#transition-js-btn,#transition-jq-btn{
    text-decoration: underline;
    cursor: pointer;
}
#transition-css-ele {
    transition: all 0.6s ease;
}
#transition-js-ele,#transition-jq-ele,#transition-css-ele {
    height: 0;
    width: 0;
    overflow: hidden;
    border: 1px solid #cfcfcf;
}
.ele-box img{
    padding: 0;
    margin: 0;
}